<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CakeProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeServlet</display-name>
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>com.servlet.TypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/TypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCartServlet</display-name>
    <servlet-name>DelCartServlet</servlet-name>
    <servlet-class>com.servlet.DelCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCartServlet</servlet-name>
    <url-pattern>/DelCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>com.servlet.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapServlet</display-name>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>com.servlet.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartToCheckoutServlet</display-name>
    <servlet-name>CartToCheckoutServlet</servlet-name>
    <servlet-class>com.servlet.CartToCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartToCheckoutServlet</servlet-name>
    <url-pattern>/CartToCheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitServlet</display-name>
    <servlet-name>VisitServlet</servlet-name>
    <servlet-class>com.servlet.VisitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitServlet</servlet-name>
    <url-pattern>/VisitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellPageServlet</display-name>
    <servlet-name>SellPageServlet</servlet-name>
    <servlet-class>com.servlet.SellPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellPageServlet</servlet-name>
    <url-pattern>/SellPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCheckoutServlet</display-name>
    <servlet-name>NewCheckoutServlet</servlet-name>
    <servlet-class>com.servlet.NewCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCheckoutServlet</servlet-name>
    <url-pattern>/NewCheckoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Zev/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCakeServlet</display-name>
    <servlet-name>AddCakeServlet</servlet-name>
    <servlet-class>com.servlet.AddCakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCakeServlet</servlet-name>
    <url-pattern>/AddCakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCakeServlet</display-name>
    <servlet-name>RemoveCakeServlet</servlet-name>
    <servlet-class>com.servlet.RemoveCakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCakeServlet</servlet-name>
    <url-pattern>/RemoveCakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmendCakeServlet</display-name>
    <servlet-name>AmendCakeServlet</servlet-name>
    <servlet-class>com.servlet.AmendCakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmendCakeServlet</servlet-name>
    <url-pattern>/AmendCakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageServlet</display-name>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>com.servlet.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/ManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmendSellServlet</display-name>
    <servlet-name>AmendSellServlet</servlet-name>
    <servlet-class>com.servlet.AmendSellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmendSellServlet</servlet-name>
    <url-pattern>/AmendSellServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SoldOutCakeServlet</display-name>
    <servlet-name>SoldOutCakeServlet</servlet-name>
    <servlet-class>com.servlet.SoldOutCakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoldOutCakeServlet</servlet-name>
    <url-pattern>/SoldOutCakeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingServlet</display-name>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>com.servlet.SettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/SettingServlet</url-pattern>
  </servlet-mapping>
<!--   <filter> -->
<!--     <display-name>BackstageFilter</display-name> -->
<!--     <filter-name>BackstageFilter</filter-name> -->
<!--     <filter-class>com.filter.BackstageFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>BackstageFilter</filter-name> -->
<!--     <url-pattern>/TB/.jsp</url-pattern> -->
<!--   </filter-mapping> -->
  <servlet>
    <description></description>
    <display-name>ModifyUserServlet</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>com.servlet.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/ModifyUserServlet</url-pattern>
  </servlet-mapping>
</web-app>